config MODULES
  bool "Enable loadable module support"
  option modules

config WIZNET_W5100
        tristate "WIZnet W5100 Ethernet support"
        depends on HAS_IOMEM

config WIZNET_W5300
        tristate "WIZnet W5300 Ethernet support"
        depends on HAS_IOMEM

choice
        prompt "WIZnet interface mode"
        depends on WIZNET_W5100 || WIZNET_W5300
        default WIZNET_BUS_ANY

config WIZNET_BUS_DIRECT
        bool "Direct address bus mode"

config WIZNET_BUS_INDIRECT
        bool "Indirect address bus mode"

config WIZNET_BUS_ANY
        bool "Select interface mode in runtime"

endchoice

===testcases

# The choice block is not visible since its dependencies are not met.
# Therefore, none of the choices should be selectable either.
---
input:
  WIZNET_W5100: n
  WIZNET_W5300: n
output:
  WIZNET_BUS_DIRECT: n
  WIZNET_BUS_INDIRECT: n
  WIZNET_BUS_ANY: n
...
